[submodule "inverte-api"]
	path = inverte-api
	url = https://github.com/jarco0204/inverte-api.git
[submodule "inverte-analytics"]
	path = inverte-analytics
	url = https://github.com/jarco0204/inverte-analytics.git
[submodule "inverte-iot-scale"]
	path = inverte-iot-scale
	url = https://github.com/jarco0204/inverte-iot-scale.git
[submodule "inverte-landing"]
	path = inverte-landing
	url = https://github.com/jarco0204/inverte-landing.git
[submodule "inverte-client"]
	path = inverte-client
	url = https://github.com/jarco0204/inverte-client.git
[submodule "inverte-client-v2"]
	path = inverte-client-v2
	url = https://github.com/jarco0204/inverte-client-v2
[submodule "inverte-scripts"]
	path = inverte-scripts
	url = https://github.com/jarco0204/inverte-scripts
[submodule "inverte-product"]
	path = inverte-product
	url = https://github.com/jarco0204/inverte-product.git
[submodule "inverte-iot-scale-v2"]
	path = inverte-iot-scale-v2
	url = https://github.com/jarco0204/inverte-iot-scale-v2.git
