[submodule "inverte-api"]
	path = inverte-api
	url = https://github.com/jarco0204/inverte-api.git
[submodule "inverte-analytics"]
	path = inverte-analytics
	url = https://github.com/jarco0204/inverte-analytics.git
[submodule "inverte-iot-scale"]
	path = inverte-iot-scale
	url = https://github.com/jarco0204/inverte-iot-scale.git
[submodule "inverte-landing"]
	path = inverte-landing
	url = https://github.com/jarco0204/inverte-landing.git
